<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>社員名簿Web管理システム（簡易版）</title>
    <link th:href="@{/css/style.css}" rel="styleSheet" type="text/css">
</head>
<body>
<header>
    <h1>社員名簿Web管理システム（簡易版）</h1>
    <br/>
    <h2>管理メニュー</h2>
    <nav>
        <ul>
            <li><a href="employees/employee_reg">会員登録画面</a></li>
            <li><a href="employees/employee_list">会員一覧画面</a></li>
        </ul>
    </nav>
</header>
</body>
</html>