<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>社員名簿Web管理システム（簡易版）</title>
    <link th:href="@{/css/style.css}" rel="styleSheet" type="text/css">
</head>
<body>
<form name="myForm" th:action="@{/employees/employee_reg}" onsubmit="return validateForm()" th:object="${Employee}" method="post">
<table>
    <thead>
    <tr>
        <th class="required">社員ID</th>
        <td colspan="2"><input type="text" class="txt" id="employee_id" name="employee_id" placeholder="例）YZ12345678">
    </tr>
    <tr>
        <th class="required">社員名</th>
        <td><input type="text" class="txt2" id="family_name" name="family_name" placeholder="姓">
        <td><input type="text" class="txt2" id="first_name" name="first_name" placeholder="名">
    </tr>
    <tr>
        <th class="required">所属セクション</th>
        <td colspan="2"><select class="section" id="section_id" name="section_id">
            <option value="">選択してください</option>
            <option value="1">シス開</option>
            <option value="2">グロカル</option>
            <option value="3">ビジソル</option>
        </select>
    </tr>
    <tr>
        <th class="required">メールアドレス</th>
        <td colspan="2"><input type="text" class="txt" id="mail" name="mail" placeholder="例）taro_yaz@yaz.co.jp">
    </tr>
    <tr>
        <th class="required">性別</th>
        <td><input type="radio" id="1" name="gender_id"><label for="1">男性</label>
        <td><input type="radio" id="2" name="gender_id"><label for="2">女性</label>
    </tr>
    </thead>
</table>
<p class="annotation">必須項目</p>
<p><input type="submit" value="登録"></p>
</form>
<a href="../">メニュー画面</a>
</body>
<script th:src="@{/js/validate.js}" type="text/javascript"></script>
</html>