<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>社員名簿Web管理システム（簡易版）</title>
    <link th:href="@{/css/style.css}" rel="styleSheet" type="text/css">
</head>
<body>
<table>
    <thead>
    <tr>
        <th>社員ID</th>
        <th>社員名</th>
        <th>所属セクション</th>
        <th>メールアドレス</th>
        <th>性別</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${employee}" th:object="${employee}">
        <td th:text="*{employeeId}"></td>
        <td th:text="*{familyName} + ' ' + *{firstName}"></td>
        <td th:switch="*{section_id}">
            <span th:case="1">シス開</span>
            <span th:case="2">グロカル</span>
            <span th:case="3">ビジソル</span>
            <span th:case="*">対象なし</span>
        </td>
        <td th:text="*{mail}"></td>
        <td th:switch="*{gender_id}">
            <span th:case="1">男性</span>
            <span th:case="2">女性</span>
            <span th:case="*">対象なし</span>
        </td>
    </tr>
    </tbody>
</table>
<a href="../">メニュー画面</a>
</body>
</html>